<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wondang.icehs.kr.whdghks913.wondanghighschool"
    android:versionCode="11"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.White" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.WondangInfo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="원당고 소개"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.song.Song"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="교가"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.MadeBy"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="만든이"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.SettingsActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.Webview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.bap.Bap"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="급식"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.Call"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="연락처"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.schedule.Schedule"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="일정"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="설정"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.rss.InfoRSSActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="학교 정보"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.timetable.TimeTableGrade"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="시간표(학년,반)"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.timetable.TimeTableScrollTab"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="시간표"
            android:parentActivityName="wondang.icehs.kr.whdghks913.wondanghighschool.timetable.TimeTableGrade"
            android:theme="@style/Theme.White" />

        <receiver android:name="wondang.icehs.kr.whdghks913.wondanghighschool.bapautoupdate.BroadCast" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.bapautoupdate.updateService"
            android:label="자동 업데이트 서비스" />
    </application>

</manifest>