<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wondang.icehs.kr.whdghks913.wondanghighschool"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.White" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.WondangInfo"
            android:label="원당고 소게"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.Song"
            android:label="교가"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.MadeBy"
            android:label="만든이"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.Webview"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.bap.Bap"
            android:label="급식"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.Call"
            android:label="연락처"
            android:theme="@style/Theme.White" />
        <activity
            android:name="wondang.icehs.kr.whdghks913.wondanghighschool.schedule.Schedule"
            android:label="일정"
            android:theme="@style/Theme.White" />
    </application>

</manifest>