<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wondang.icehs.kr.whdghks913.wondanghighschool"
    android:versionCode="26"
    android:versionName="3.7">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bap.BapActivity"
            android:label="@string/title_activity_bap" />
        <activity
            android:name=".timetable.TimeTableActivity"
            android:label="@string/title_activity_time_table" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".schedule.ScheduleActivity"
            android:label="@string/title_activity_schedule" />
        <activity
            android:name=".info.SchoolInfo"
            android:label="@string/title_activity_school_info" />
        <activity
            android:name=".info.ImageDetailActivity"
            android:label="@string/title_activity_image_detail" />

        <receiver
            android:name=".autoupdate.BroadCast"
            android:label="@string/title_broadcast_autoupdate"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".autoupdate.updateService"
            android:label="@string/title_service_autoupdate" />

        <receiver
            android:name=".widget.BapWidget3x3"
            android:label="@string/widget_3x3_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bap_widget_3x3_info" />
        </receiver>
        <receiver
            android:name=".widget.BapWidget3x2"
            android:label="@string/widget_3x2_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bap_widget_3x2_info" />
        </receiver>
        <receiver
            android:name=".widget.WidgetBroadCast"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="itmir.tistory.com.UPDATE_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".todaylist.TodayList"
            android:label="@string/title_activity_today_list" />
    </application>

</manifest>
